.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.header{
  background-color: rgb(160, 91, 224);
  padding: 20px;
}

.event-box {
  width: 400px;
  height: 300px;
  background-color: rgb(191, 150, 219);
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  font-size: calc(10px + 2vmin);
  color: black;
  border-radius: 20px; 
  margin:auto;
  text-decoration: none;

}

.event-details-box{
  width: 700px;
  height: 500px;
  background-color: rgb(208, 173, 231);
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  font-size: calc(10px + 2vmin);
  color: black;
  border-radius: 20px; 
  margin:auto
}

form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  
}

footer{
  background-color: gray;
  padding: 70px;
}

button{
  padding: 13px 30px;
  font-size: medium;
  background-color: rgb(221, 199, 230);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}


button:hover{
  color: white;
  background-color: rgb(211, 168, 228);
}