.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.header{
  background-color: rgb(160, 91, 224);
  padding: 20px;
}

.event-box {
  width: 400px;
  height: 300px;
  background-color: rgb(191, 150, 219);
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  font-size: calc(10px + 2vmin);
  color: black;
  border-radius: 20px; 
  margin:auto;
  text-decoration: none;

}

.event-details-box{
  width: 700px;
  height: 500px;
  background-color: rgb(208, 173, 231);
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  font-size: calc(10px + 2vmin);
  color: black;
  border-radius: 20px; 
  margin:auto
}


footer{
  background-color: gray;
  padding: 70px;
}

button{
  padding: 13px 30px;
  font-size: medium;
  background-color: rgb(221, 199, 230);
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover{
  color: white;
  background-color: rgb(211, 168, 228);
}